################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs/VSWorkspaceState.json
/.vs/VisitorsGatePassGenerator/v17
/.vs
